<div class="container p-4">
  <h1 class="text-center mt-3">מוצרי מעפילים ישראל</h1>
  <h5 class="text-center mb-3">עודכן לאחרונה: {{ date }} </h5>
    <table class="table table-hover" style="direction: rtl; text-align: right">
        <thead>
        <tr>
            <td>מקט</td>
            <td>שם המוצר</td>
            <td>כמות</td>
            <td>אחרון</td>

     
        </tr>
        </thead>
      
        <tbody>
            <tr *ngFor="let product of products">
                <td>{{ product.SKU }}</td>
                <td>{{ product.Name }}</td>
                <td>{{ product.Quantity }}</td>
                <td *ngIf="product.today_date">{{ product.today_quantity}} ( {{ product.today_date | date: 'dd/MM/yyyy'}} )</td>
          
              
            </tr>
        </tbody>
      </table>
</div>
